[submodule "Dependencies/eigen"]
	path = Dependencies/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "Dependencies/libsndfile"]
	path = Dependencies/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
